# Performance test results

Brief description of the used server (choose one): HTTP/1.1

Brief description of your computer: Macbook Air M3 16 Gb macOS Sonoma

### Loading the assignment page

http_reqs: 6286
http_req_duration - median: 14.18ms
http_req_duration - 99th percentile: 53.57ms


### Submitting assignment

http_reqs: 21744
http_req_duration - median: 2.88ms
http_req_duration - 99th percentile: 39.98ms
